{{ define "footer" }}
<footer>
    <div class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Quem Somos</h3>
                    <p>Fundada em 2020, a Silk Road é um e-commerce de medicamentos farmacêuticos
                    que está em crescente evolução. A empresa é considerada uma dos mais influentes
                    e-commerces do ramo. 
                    </p>
                </div>
                <div class="footer-col-2">
                    <h3>Métodos de Pagamento</h3>
                    <img src="./img/metodos-pagamento.png">
                </div>
                <div class="footer-col-3">
                    <h3>Links Úteis</h3>
                    <ul>
                        <li>Entar em Contato</li>
                        <li>Fornecedores</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Redes Sociais</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{{end}}
