{{ define "main" }}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/login.css">
    <title>Silk Road | Fármacia</title>
</head>
<body>
    <div class="container">
        <!-- Header -->
        {{ template "navbar" }}
        <!-- Main -->
        <main>
            {{ template "yield" . }}
        </main>
        <!-- Barra Lateral -->
        {{ template "sidebar" }}
        <!-- Footer -->
        {{ template "footer" }}

        <script src="/static/app.js"></script>
    </div>
</body>
</html>
{{ end }}


