{{ define "navbar" }}
<header>
    <div class="logo">
        <a href="/"><img src='/static/img/logo.png'/></a>
    </div>
    <div class="search-box">
        <input id="search-inputText" type="text" name="" placeholder="Seja bem-vindo, o que você busca?" required="" data-invalid="" aria-invalid="true">
        <a class="search-btn" href="#">
        </a>
    </div>
    <a href="/signin" class="home" width="200px" height="80%">
        <div class="img-home">
            <img src='/static/img/login.png'/>
        </div>
        <div class="text-home">
            <strong>
                Login ou </br>Cadastro
            </strong>
        </div>
    </a>
    <a href="carrinho.html" class="carrinho">
        <div class="img-carrinho">
            <img src='/static/img/carrinho.png'/>
        </div>
        <div class="text-carrinho">
            <strong>
                Meu Carrinho
            </strong>
        </div>
    </a>
</header>
{{end}}
