{{ define "sidebar" }}
 <aside>
     <div class="barra-lateral">
         <div class="titulo">
             <span><img src='/static/img/abc.png'/><h1 style='display:inline;'>Medicamentos</h1></span>    
         </div>
         <ul>
             <li>
                 <a href="#">{{ .Name }}</a>
             </li>
         </ul>    
     </div>
 </aside>
{{ end }}
