{{ define "yield" }}
<div class="product" id="prod">
    {{ range . }}
    <div class="p-box">
        <a href="/product/{{.ID}}">
            <img src="/static/img/produto01.png" alt=""/>
            <p>{{ .Name }}</p>
        </a>
        <a href="#" class="price">{{ .Price }}</a>
        <a href="/admin/product/{{.ID}}/update" class="edit-btn">Editar Produto</a>
    </div>
    {{ end }}
</div>
{{ end }}

