{{ define "yield" }}
<div class="single-product">
    <div class="row">
        <div class="col-1">
            <img src="./img/produto01g.png">
        </div>
        <div class="col-2">
            <p>Início / Pressão Alta</p>
            <h1>{{ .Name}}</h1>
            <h4>R$ {{ .Price}}</h4>
            <input type="number" value="1">
            <a href="" class="buy-btn-product">Adicionar ao Carrinho</a>
            <h3>Informações do Produto</h3>
            <p>Princípio ativo: Dipirona sódica, Butilbrometo de escopolamina<br>
            Nome do Fabricante: BOEHERINGNGER OL.</p>
        </div>
    </div>
</div>
{{ end }}
