<!DOCTYPE html>
<html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Silk Road | Farmácia</title>
</head>
<body>
    <div class="container-product">
        <header>
            <div class="logo">
                <a href="index.html"><img src='./img/logo.png'/></a>
            </div>
            <div class="search-box">
                <input id="search-inputText" type="text" name="" placeholder="Seja bem-vindo, o que você busca?" required="" data-invalid="" aria-invalid="true">
                <a class="search-btn" href="#">
                </a>
            </div>
            <a href="#" class="login" width="200px" height="80%">
                <div class="img-login">
                    <img src='./img/login.png'/>
                </div>
                <div class="text-login">
                    <strong>
                        Fazer Login <br> ou Cadastrar
                    </strong>
                </div>
            </a>
            <a href="carrinho.html" class="carrinho">
                <div class="img-carrinho">
                    <img src='./img/carrinho.png'/>
                </div>
                <div class="text-carrinho">
                    <strong>
                        Meu Carrinho <br> R$0,00
                    </strong>
                </div>
            </a>
        </header>
        <!-- Detalhes Produto -->
        <main>
            <div class="single-product">
                <div class="row">
                    <div class="col-1">
                        <img src="./img/produto01g.png">
                    </div>
                    <div class="col-2">
                        <p>Início / Pressão Alta</p>
                        <h1>{{ .Name}}</h1>
                        <h4>R$ {{ .Price}}</h4>
                        <input type="number" value="1">
                        <a href="" class="buy-btn-product">Adicionar ao Carrinho</a>
                        <h3>Informações do Produto</h3>
                        <p>Princípio ativo: Dipirona sódica, Butilbrometo de escopolamina<br>
                        Nome do Fabricante: BOEHERINGNGER OL.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Barra Lateral -->
        <aside>
            <div class="barra-lateral">
                <div class="titulo">
                    <span><img src='./img/abc.png'/><h1 style='display:inline;'>Medicamentos</h1></span>    
                </div>
                <ul>
                    <li>
                        <a href="#">PRESSÃO ALTA</a>
                    </li>
                    <li>
                        <a href="#">DOR DE CABEÇA</a>
                    </li>
                    <li>
                        <a href="#">DORES NO CORPO</a>
                    </li>
                    <li>
                        <a href="#">DIABETES</a>
                    </li>
                </ul>    
            </div>
        </aside>
        {{ template "footer" }}
    </div>
</body>
