@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffff;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

.login-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-m {
    padding: 16px;
}

.login-m button {
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 100%;
}

.login-m .cadastrar {
    position: absolute;
    text-align: center;
    width: 92%;
    height: 35px;
    border: none;
    font-size: 15px;
    color: white;
    background: #2980b9;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
}

.login-content {
    position: relative;
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid #888;
    width: 30%; 
    height: 65%;
}

.login-m input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

/* Cadastro */
.cadastro {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
}

.cadastro-content {
    position: relative;
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid #888;
    width: 40%; 
}

.cadastro-content h2 {
    padding-left: 12px;
    padding-top: 15px;
}

.cadastro-modal {
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

.cadastro-modal input[type=text], .cadastro-modal input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cadastro-modal button {
    padding: 10px 30px;
    margin-top: 15px;
    background-color: #2980b9;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 100%;
}